 
     body{
        background: rgb(85, 177, 9);
    }
     p{
        font-size: 40px;
    }
     .corlaranja{
        color: rgb(255, 134, 20);
    }
    #paragrafo1{
        color: rgb(233, 20, 55);
    }
 